extends layout.pug

block content
    h1 Target Demonstration Site
    h3 add a referrer query parameter to change the image
    ul
        li 
            a(href="/?referrer=nerdwallet") nerdwallet
        li
            a(href="/?referrer=creditkarma") creditkarma
        li
            a(href="/?referrer=realtor") realtor
    img(src=src)
    p visitor State
    p 
        strong #{visitorState} 
    ul
        li
            a(href="/singlequestionreplacement") single question testing/replacement
        li
            a(href="/removequestion?rm=none") remove questions
        li
            a(href="/addquestion?add=none") add questions
        li
            a(href="/magictest") magic test
    script. 
        Visitor.getInstance("5D60123F5245B13E0A490D45@AdobeOrg", {serverState: !{visitorState}});